.paginationContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-top: 20px;
}

.itemsPerPageSelector {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 1rem;

  position: absolute;
  right: 0;
}
